<h2>SVN</h2>
<ul>
    <li><a href="/FLOW3">FLOW3</a></li>
    <li>TYPO3v4
        <ul>
            <li><a href="/TYPO3v4/CoreProjects">CoreProjects</a></li>
            <li><a href="/TYPO3v4/Documentation">Documentation</a></li>
            <li><a href="/TYPO3v4/Extensions">Extensions</a></li>
        </ul>
    </li>
    <li><a href="/TYPO3v5">TYPO3v5</a></li>
    <li><a href="/Teams">Teams</a></li>
</ul>

<h2>GIT</h2>
<p>Besides SVN the TYPO3 project has started using GIT for source code management, here is an incomplete list of former SVN repositories that meanwhile have been migrated to GIT:</p>
<ul>
    <li><a href="http://git.typo3.org/TYPO3v4/Core.git">TYPO3 CMS Core</a></li>
    <li><a href="http://git.typo3.org/TYPO3v4/CoreProjects/MVC/extbase.git">Extbase</a></li>
    <li><a href="http://git.typo3.org/TYPO3v5/Distributions/Base.git">TYPO3 Neos</a></li>
    <li><a href="http://git.typo3.org/">TYPO3 Flow</a></li>
</ul>
<p>You can find can find a complete listing on our GIT server on <a href="http://git.typo3.org">git.typo3.org</a>.</p>